
@import url('https://fonts,googleapis.com/css2?family=Bebas+Neue&display=swap'); /*para importar a fonte padrao e destaque*/

@font-face{
    font-family: 'Android';
    src: url('./fontes/idroid.otf') format(opentype);
    font-weight: normal; /*para a fonte nova salva na pasta*/
}
body{
    background-color: var(--cor0);
    font-family: var(--font-padrao);
}

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
}
*{ /*Para não ter nenhum margin nem padding da propria tag que 
    atrapalhe na hora de editar as configurações*/
    margin: 0px;
    padding: 0px;
}


header{ 
background-image: linear-gradient(to bottom,var(--cor3), var(--cor4), var(--cor5) );
min-height: 150px;
text-align: center;

}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    padding-top: 40px;
    margin-bottom: 20px ;
    font-size: 3em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.559);
}
header>p{
    color: white;
    font-family: var(--font-padrao);
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.488);
}
nav > a{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;/*Negrito*/
    transition-duration: 0.5s;
}
nav > a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.534);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px; 
    margin: auto;
    display: block; /*centralizar*/
}
div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position:relative;
}
div.video > iframe {
    position: absolute;
    top: 5% ;
    left:5% ;
    width: 90%;
    height: 90%;
}
aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.549);
}
aside>h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}
aside > ul{
    list-style-type: '\2714\00A0\00A0'; /*Para por o símbolo de check . (2714 é o código do símbolo no site emojipedia)*/ /*00A0 é um sinal de espaçamento entre o símbolo e a lista, eu puis dois 00A0 para ter um espaço maior */
    list-style-position: inside; /*Para colocar as bolinhas da lista para dentro do aside*/
    columns: 2; /*Para dividir a lista em 2*/
}

main  h1{
    color: var(--cor5);
    font-family: var(--font-android);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1),transparent);
    text-indent: 8px; /*Espaço antes de começar a primeira frase (parágrafo)*/
}
main p{
    margin: 15px 0px ;/*Para dar espaçamento */
    text-align: justify; /*Deixar os parágrafos alinhados */
    text-indent: 30px; /*Espaço antes de começar a primeira frase (parágrafo)*/
    font-size: 1em;
    line-height: 2em; /*Espaço entre uma linha e outra*/
}
main strong{
    color: var(--cor4);
    font-weight: bold;/*Negrito*/
    padding: 2px 6px;
}
main a{
    text-decoration: none; /*para tirar a decoração padrao*/
    font-weight: bold;/*Negrito*/
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}
footer a{
    color: white;
    font-weight: bolder; /*Negrito*/
    text-decoration: none; /*Tirar a decoração padrão*/

}
footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
} 
