  body {
            background-color: rgb(12, 234, 8); font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size: 20px;
        }
        h1 {
            color: rgba(255, 0, 0, 0.721);
        }
        h2 {
color: rgb(231, 231, 231);            
        }
        p {
            text-justify: ;
        }